/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set the basic of css */
:root {
    --primary-color: #6A8286;
    --secondary-color: #707070;
    --main-bg-color: #FCFCFC;
}

body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--primary-color);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

body a {
    color: var(--primary-color);
}

/* style the fixed nav */
.fix {
    position: relative;
    z-index: 5000;
}

.fixnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixnav li a {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    transform: rotate(270deg);
}

.fixnav li {
    position: fixed;
    bottom: 150px;
}

.fixexplore {
    left: 10px;
}
.fixcontact {
    right: 10px;
}

/* style the Back to Top buttton */
.backtop {
    position: fixed;
    bottom: 100px;
    right: 38px;
}

.backtop a {
    color: var(--primary-color);
}

.backtop p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: none;  
}

.backtop a:hover + .hide {
    display: block;
}

/* style the home message section */
.homemessage {
    background-color: var(--main-bg-color);
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pencil {
    grid-column: 1 / span 2;
}

.pencil img {
    width: 100%;
    height: 100%;
}

.homeinfo {
    grid-column: 3 / span 3;
    margin: 20px 48px;
    position: relative;
}

.homeinfo .camera img {
    width: 40%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homeintro {
    font-size: .9rem;
    padding-left: 30px;
}

.homeinfo h2 {
    position: absolute;
    bottom: 15px;
}

/* style the project section with grid */
.project {
    margin: 20px 40px;
}

.project img {
    height: 100%;
}

.mphoto, .roundphoto, .mainproject {
    margin: 30px 30px;
}

.projectcontainer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(6, 150px);
    border-top: 1px solid var(--secondary-color);
    /* border-bottom: 1px solid var(--secondary-color); */
}

.mphoto {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: row;
    position: relative;
}

.mphoto img {
    padding-right: 20px;
    /* width: 100%; */
}

.mphoto p {
    position: absolute;
    bottom: 0;
    right: 3rem;
}

.roundphoto {
    grid-column: 2 / span 1;
    grid-row: 3 /span 1;
}

.roundphoto img {
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.mainproject {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
    display: column;
}

.mainproject img {
    height: 60%;
}

.projecttext {
    padding: 10px 10px;
}

.roundphoto6 {
    grid-column: 1 / span 2;
    grid-row: 3 /span 1;
    margin: 30px auto;
    /* padding-top: -30px; */
    position: relative;
    left: 0;
    top: 50%;
}

.roundphoto6:before {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.roundphoto6:after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

.roundphoto6 span {
    background: #fff;
}

.roundphoto6 img {
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}







