/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set the basic of css */
:root {
    --primary-color: #6A8286;
    --secondary-color: #707070;
    --main-bg-color: #FCFCFC;
}

body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--primary-color);
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

body a {
    color: var(--primary-color);
}

/* style the fixed nav */
.fix {
    display: column;
    position: fixed;
    z-index: 500;
}

.fixnav {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.fixnav li a {
    text-decoration: none;
    color: var(--primary-color);
}

aside .fixnav {
    transform: rotate(270deg);
}

.fixnav .fixleft {
    justify-content: flex-start;
}

.fixnav .fixright {
    justify-content: flex-end;
}

/* style the Back to Top buttton */
.backtop {
    position: relative;
    top: 300px;
}
.backtop a {
    color: var(--primary-color);
}

.backtop p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: none;  
}

.backtop a:hover + .hide {
    display: block;
}

/* style the home message section */
.homemessage {
    background-color: var(--main-bg-color);
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pencil {
    grid-column: 1 / span 2;
}

.pencil img {
    width: 100%;
    height: 100%;
}

.homeinfo {
    grid-column: 3 / span 3;
    margin: 20px 48px;
    display: flex;
    flex-direction: column;
}

.homeinfo .camera img {
    width: 88px;
    height: 55px;
    margin-bottom: 30px;
}

.homeintro {
    font-size: .9rem;
    padding-left: 30px;
}

.homeinfo hr {
    flex-grow: 1;
}